header {
  grid-area: 1/1/1/4;
  display: flex;
  justify-content:space-around;
  align-items: center;
}

header>div {
  width: 30%;
}

header img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

#header-icon {
  display: flex;
  justify-content: flex-start;
}

#header-icon>h1 {
  font-size: 1rem;
  color: white;
}

#header-buttons {
  display: flex;
  justify-content: flex-end;
}
  
#header-buttons>a {
  margin: 0px 15px;
}
