.error-container {
  position: fixed;
  background: rgba(255, 255, 255, 0.836);
  width: 50%;
  height: 100px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.185);
  top: 0;
  left: 50%;
  transform: translate(-50%);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.error-close {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.error-message {
  color: black;
  text-align: center;
  font-size: 0.8rem;
  font-size: 2rem;
  font-weight: 400;
  max-width: 80%;
  max-height: 50%;
}